$background:   #F8F8F8;
$text-white:   #F8F8F8;
$accent-green: #7CB96D;
$info-grey:    #757575;
$warning-red:  #FF7A7A;
$text-black:   #000000;

$card-bradius:   8px;
$button-bradius: 60px;
$card-boxshadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);